
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title></title>
  </head>
  <body>
    <!-- <nav>
      <img src="http://www.thecatfish.com.au/images/catfish/thecatfishlogo-280.png" alt="logo">

    </nav> -->
    <div class="">

    <% @beers.each do |beer| %>
    <form action="/favourite" method="post">
    <a href="/beers/<%= beer.id %>" class="item">

    <img src="<%= beer.image_url %>">

    <h3 >
      <input type="checkbox" name="beer" value="<%= beer.name %>">
    "<%= beer.name %>"
    <p>by</p>
    <%= beer.company %>
    </h3>
  </a>

  <form class="favourites" action="/favourite" method="post">
    <label for="">Name</label>
    <input type="text" name="name">
    <label for="">Company</label>
    <input type="text" name="company">
    <label for="">id</label>
    <input type="text" name="id">

    <button>Add to Favourites</button>
  </form>


    <% end %>
    <p><input type="submit" value="submit"></p>
  </form>

</div>
<a href="/beers/new" class="new">post new beer</a>
  </body>
</html>
