<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/show.css">
    <title></title>
  </head>
  <body>


  <div class="">

    <h2>
    <%= @beer.name %>
    </h2>
    <img src="<%= @beer.image_url %>" >
  </div>

  <form class="favourites" action="/favourite" method="post">
    <input type="hidden" name="beer_id" value="<%= @beer.id %>">
    <button>Add to Favourites</button>
  </form>

    <footer>

    <a href="/beers/<%= @beer.id %>/edit">Edit Beer</a>
    <form action="/beers/<%= @beer.id %>" method="post">
      <input type ="hidden" name="_method" value="delete">
      <button>Delete Beer</button>
    </form>


    <a href="/beers">back to home</a>
  </footer>
  </body>
</html>
